@model IEnumerable<Sistemaprestamo1.Models.Prestamo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdFiador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaBeg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Interes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdClienteNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdFiador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaBeg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Interes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdClienteNavigation.IdCliente)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.IdPrestamo">Edit</a> |
                <a asp-action="Details"  class="btn btn-primary" asp-route-id="@item.IdPrestamo">Details</a> |
                <a asp-action="Delete"   class="btn btn-danger" asp-route-id="@item.IdPrestamo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
